.footer{
	&_top{
		background:linear-gradient(to top, $primary, lighten($primary, 10%));
		border-top:5px solid lighten($primary, 20%);
		border-bottom:1px solid lighten($primary, 5%);
		& img.logo{
			height: 6rem;
		}
	}
	&_bottom{
		background-color:$primary;
		& h4{
			color:$lgry;
		}
		& .foot_col{
			&:not(:first-of-type){
				@include min(992px){
					border-left: 1px solid lighten($primary, 5%);
					padding-left: 2.1rem;
				}
			}			
		}
	}
	
	&_ul{
		&:not(.social_ul){
			gap:.1rem;	
		}
		&.social_ul{
			& a{
				display: flex;
				align-items: center;
				justify-content: center;
				width:2.3rem;
				height:2.3rem;
				@include radius(50%);	
				transition: all linear .3s;			
				&.fb{
					background-color:#1877F2;
				}
				&.tw{
					background-color:#1DA1F2;
				}				
				&.wht{
					background-color:#25D366;
				}				
				&:hover{
					background-color:lighten($primary, 15%);
				}
				& i{					
					display: block;
					color:$whi;
					font-size: 1.1rem;
				}
			}
		}		
	}
	&_li{
		font-size:.91rem;
		padding-top:.4rem;
		padding-bottom:.4rem;
	}	
	&_a{
		font-size:.82rem;	
		
	}
	& .copyright{
		text-align: center;
		font-size:.9rem;
		border-top:1px solid lighten($primary, 5%);
		font-weight: normal;
		color:darken($gry, 20%);
	}
}