$primary: #204073;
$secondary: #D53908;
// $secondary:#0d5a55;
$bla: #333333;
$gry: #C5C5C5;
$lgry: #9BC4ED;
$bgcolor:#F2F2F2;
$whi: #ffffff;
$red:#fb0000;
$green: #03db03;
$yellow: #edbf26;

@mixin bgc($bgc: false) {
  	@if $bgc == $primary or $bgc == $secondary or $bgc == $bla {
      color:$whi;
      background-color:$bgc;
    }
    @else if $bgc == $gry or $bgc == $lgry of $bgc == $whi{
      color:$bla;
      background-color:$bgc;
    }
    @else {
      	@error "Unknown background-color $color.";
    }
}